/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


div#mysbMiddle {
font-size: 95%;
}

#mysbMiddle div.cell {
min-height: 44px;
}
#mysbMiddle td.cell_names {
min-width: 60px;
}
#mysbMiddle td.cell_plugins {
width: 100%;
}
#mysbMiddle td.cell_infos {
min-width: 0px;
font-size: 80%;
}
#mysbMiddle td.cell_ext {
width: auto;
}

#mysbMiddle div.cell_plug {
height: 40px;
}
#mysbMiddle div.incell_floatshow {
display: inline-block;
float: left;
}

#mysbMiddle .w60    { width: 48px; }
#mysbMiddle .w80    { width: 48px; }
#mysbMiddle .w120   { width: 48px; }
#mysbMiddle .w180   { width: 48px; }

table#rsvpContact {
font-size: 80%;
}

#rsvpCriteria table {
font-size: 80%;
}

#rsvpCriteria input[type=checkbox] {
margin: 3px;
padding-right: 0px;
}

#dbmfMementoList td.infos {
width: 90px;
}
#dbmfMementoList div.floatingcell{
clear: both;
width: 100%;
}
#dbmfMementoList div.date{
text-align: left;
}
#dbmfMementoList div.name{
margin-top: 4px;
width: 100%;
}
#dbmfMementoList td.comments{
font-size: 80%;
}
#dbmfMementoList td.actions{
width: 40px;
}

