/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


div#mysbMiddle {
font-size: 95%;
}

#mysbMiddle td.cell_names {
width: 180px;
}
#mysbMiddle td.cell_plugins {
vertical-align: top;
text-align: right;
height: 100%;
}
#mysbMiddle div.cell_plug {
float: left;
text-align: center;
padding: 1px;
height: 50px;
}

#mysbMiddle div.cell_plug div {
height: 100%;
}
#mysbMiddle table.cell {
width: 98%;
background: transparent;
vertical-align: middle;
}
#mysbMiddle tr.cell {
background: transparent;
}
#mysbMiddle td {
border: 0px solid black;
}

#mysbMiddle td.lpadding {
width: 33%;
padding: 5px 5px 5px 20px;
}

#mysbMiddle .mem_active {
background: #ff9292;
}

#mysbMiddle .mem_processed {
background: #c0ffba;
}

#rsvp_mailing_displaymail {
font-size: 80%;
background: grey;
width: 400px;
margin: 0px auto 0px auto;
}

#rsvp_mailing_displaymail p,
#rsvp_mailing_displaymail h1,
#rsvp_mailing_displaymail h2,
#rsvp_mailing_displaymail h3,
#rsvp_mailing_displaymail h4 {
padding: 0px 5px 0px 5px;
background: transparent;
}

table#rsvpContact {
width: 90%;
font-size: 90%;
}

#rsvpCriteria table {
font-size: 90%;
}

#rsvpCriteria table,tr,td {
vertical-align: middle;
}

div#dbmfMemento {
font-size: 90%;
}

#dbmfMemento table {
margin: 0px;
}

#dbmfMemento tr {
background-color: transparent;
}

#dbmfMemento td.infos {
width: 200px;
}
#dbmfMemento div.floatingcell{
float: left;
}
#dbmfMemento div.date{
width: 80px;
}
#dbmfMemento div.name{
text-align: left;
font-size: 90%;
width: 120px;
}

#dbmfMemento td.comments{
vertical-align: top;
text-align: left;
font-size: 90%;
}

#dbmfMemento p.rteditor {
padding: 2px 3px;
}

#dbmfMemento td.actions{
width: 80px;
}

