/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/



/* CONTACT LIST */

.sort_actions {
  /* background: rgba(0,123,255,.2); */
  /* float: right; */
  text-align: right;
  /* margin: 3px 3px; */
  padding: 2px 4px;
}
.sort_actions select {
  width: auto;
}
.list > .contact_display {
  margin-top: 2px;
}
.contact_display > div.col-auto > p {
  min-height: 94px;
  padding: .20rem .20rem;
}
@media (max-width: 768px) {
  .contact_display > div.col-auto > p {
    min-height: 64px;
  }
}
span.daysold_text {
  position: absolute;
  bottom: 0px;
  right: 1rem;
  color: #333;
  font-size: 80%;
  text-decoration: none;
}
span.blockref_text {
  font-size: 80%;
}
span.blockref_text img.mysbValue-directlink {
  width: 16px;
  float: left;
  padding: 0rem;
}
.text img.mysbValue-directlink {
  padding: 0.35rem;
}

.display_plugins {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 50px;
  max-width: 70%;
  /* z-index: 5; */
}
.display_plugins .plugins-int {
  max-height: 64px;
  overflow: hidden;
}
.display_plugins .plugins-ext {
  padding: 2px;
}
.display_plugins .plugins-ext a {
  padding: .75rem .50rem 0;
}
.cell_plug {
  vertical-align: bottom;
  text-align: center;
  padding: 1px;
  margin: 0px;
  height: 64px;
  background: transparent;
}
.cell_plug table {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0px;
  border-collapse: collapse;
}
.cell_plug table tr {
  padding: 0px;
  background: transparent;
}
.cell_plug table td.title {
  background-color: rgba(51,51,51,.25);
  font-size: 80%;
  height: 6px;
  padding: 0px;
  font-weight: bold;
}
.cell_plug table td.text {
  vertical-align: bottom;
  font-size: 70%;
  padding: 0px 0px 2px;
  background-color: rgba(51,51,51,.1);
}
.cell_plug table td.text p {
  padding: 1px;
}

.contact_display .w60    { width: 40px; }
.contact_display .w80    { width: 74px; }
.contact_display .w120   { width: 80px; }
.contact_display .w180   { width: 100px; }
@media (max-width: 480px) {
  .contact_display .w60    { width: 48px; }
  .contact_display .w80    { width: 48px; }
  .contact_display .w120   { width: 48px; }
  .contact_display .w180   { width: 48px; }
}


/* CONTACT EDIT */

#dbmfContact .row {
  padding: .10rem .25rem;
}

#dbmfContact .contact-mementolist {
  max-height: 80px;
  overflow: hidden;
  padding: 1px 10px;
  border-radius: 5px;
  margin: 2px 8px;
  width: auto;
  display: block;
  font-size: 80%;
}
#dbmfContact .contact-mementolist > a {
  text-decoration: none;
  color: black;
}


/* CONFIG: STRUCTURE */

.blockref_active,
.blockref_active a,
.blockref_active a:hover {
  color: black;
}
.blockref_inactive {
  color: gray;
  background-color: rgba(210,210,210,1);
}
.blockref_inactive a,
.blockref_inactive a:hover {
  color: gray;
}

/* MEMENTO LIST */

#dbmfMementoList .list a:hover {
  color: black;
}
#dbmfMementoList .date {
  margin-right: 10px;
  position: absolute;
  overflow: hidden;
  font-size: 90%;
  left: 5px;
  top: 5px;
  min-width: 110px;
  width: 25%;
  height: 60px;
}
#dbmfMementoList .infos {
  display: inline-block;
  overflow: hidden;
  font-size: 80%;
  min-height: 60px;
  margin-left: 110px;
  padding: 5px 5px 0px;
  width: 65%;
  max-height: 75px;
}
#dbmfMementoList .tooltip {
  position: absolute;
  right: 5px;
  top: 5px;
}

.mem_active {
  background: #ff9292 !important;
}
.mem_processed {
  background: #98ff8d !important;
}

@media (max-width: 480px) {
  #dbmfMementoList .infos {
    max-height: 60px;
  }
}


/* AUTOSUBS STYLES */
#dbmfAutosubs h1 {
  border-radius: .5rem .5rem 0 0;
  border-bottom: 0 !important;
}
#dbmfAutosubs .actions {
  text-align: center;
  position: fixed;
  right: 10px;
  top: 20px;
  font-size: 120%;
}
#dbmfAutosubs input[type="submit"] {
  /* width: 130px; */
}
#dbmfAutosubs a.btn {
  margin-top: 20px;
  width: 100%;
}
#dbmfAutosubs .btn {
  display: inline-block;
}
#dbmfAutosubs .content.disabled-elems .label:hover {
  background: transparent;
}
#dbmfAutosubs input[disabled="disabled"],
 #dbmfAutosubs textarea[disabled="disabled"]{
  background: #ddd;
}

@media (max-width: 768px) {
  #dbmfAutosubs .actions {
    font-size: 110%;
    top: 60px;
    opacity: 0.7;
    right: 15px;
  }
}
@media (max-width: 480px) {
  #dbmfAutosubs .actions {
    font-size: 90%;
    right: 5px;
  }
}
