/***************************************************************************
 *
 *   This program is free software; you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation; either version 2 of the License', or
 *   ('at your option) any later version.
 *
***************************************************************************/


div#mysbMiddle {
font-size: 95%;
}

#overlay div.contentWrap div.overBody {
background: #eeeeee;
}

#mysbMiddle table,
#mysbMiddle tr  {
background: transparent;
}

#mysbMiddle td.cell_names {
overflowM: visible;
width: 30%;
}
#mysbMiddle td.cell_names b {
overflowf: scroll;
position: absolute;
}
#mysbMiddle td.cell_plugins {
vertical-align: top;
text-align: right;
height: 100%;
widthM: 80%;
width: 100%;
}

#mysbMiddle td.cell_ext {
width: 1px;
}

#mysbMiddle td.cell_infos {
max-width: 80px;
min-widthM: 120px;
min-width: 180px;
text-align: left;
vertical-align: top;
font-size: 90%;
}
#mysbMiddle td.cell_infos img{
width: 12px;
}

#mysbMiddle div.cell_plug {
vertical-align: bottom;
float: left;
text-align: center;
padding: 1px;
margin: 0px;
height: 68px;
background: transparent;
}

#mysbMiddle div.incell_floatshow {
display: none;
}

#mysbMiddle div.cell_plug table {
width: 100%; 
height: 100%; 
background: transparent;
padding: 0px;
border-collapse: collapse;
}
#mysbMiddle div.cell_plug table tr {
padding: 0px;
background: transparent;
}
#mysbMiddle div.cell_plug table td.title {
background: #888888;
font-size: 80%;
height: 6px;
padding: 0px;
font-weight: bold;
}
#mysbMiddle div.cell_plug table td.text {
vertical-align: bottom;
font-size: 70%;
padding: 0px 0px 2px;
background: #a0a0a0;
}
#mysbMiddle div.cell_plug table td.text p {
padding: 1px;
}

#mysbMiddle .w60    { width: 40px; }
#mysbMiddle .w80    { width: 74px; }
#mysbMiddle .w120   { width: 80px; }
#mysbMiddle .w180   { width: 160px; }

#mysbMiddle td.cell_icons {
max-height: 20px;
text-align: right;
vertical-align: bottom;
width: auto;
}

#mysbMiddle table.cell {
width: 98%;
background: transparent;
vertical-align: middle;
}
#mysbMiddle tr.cell {
background: transparent;
}
#mysbMiddle td {
border: 0px solid black;
}

#mysbMiddle td.lpadding {
width: 33%;
padding: 5px 5px 5px 20px;
}

#mysbMiddle div.sort_actions{
background: #bbbbbb;
float: right; 
text-align: right;
margin: 3px 3px;
padding: 2px 4px;
}

#mysbMiddle img.linked {
cursor: pointer;
margin: 0px 5px;
}

#mysbMiddle .mem_active {
background: #ff9292 !important;
}

#mysbMiddle .mem_processed {
background: #c0ffba !important;
}

#rsvp_mailing_displaymail {
font-size: 80%;
background: grey;
width: 400px;
margin: 0px auto 0px auto;
}

#rsvp_mailing_displaymail p,
#rsvp_mailing_displaymail h1,
#rsvp_mailing_displaymail h2,
#rsvp_mailing_displaymail h3,
#rsvp_mailing_displaymail h4 {
padding: 0px 5px 0px 5px;
background: transparent;
}

div#dbmfContact {}

#overlay div.contentWrap #dbmfContact div.overHead {
    height: 32px;
    font-size: 110%;
    padding: 3px 5px 0px;
}
#overlay div.contentWrap #dbmfContact div.overBody {
    top: 35px;
    bottom: 28px;
}
#overlay div.contentWrap #dbmfContact div.overFoot {
    height: 24px;
    padding: 4px 5px 0px;
}

#dbmfContact div.list_support div.title,
#dbmfContact div.list_support div.row {
    padding: 1px;
}

#dbmfContact table.cform {
    width: 100%;
}
#dbmfContact table.cform tr.title{
    background: #bbbbbb;
}
table#rsvpContact {
width: 90%;
font-size: 80%;
}

#rsvpContact img.mysbIcons_valueok {
width: 18px;
}

#rsvpCriteria table {
font-size: 90%;
}

div#rsvpCriteria {
    font-size: 80%;
}

#rsvpCriteria div.boxed div.title {
    padding: 2px 5px;
    text-align: left;
}

#rsvpCriteria table,
#rsvpCriteria tr,
#rsvpCriteria td {
vertical-align: middle;
}

div#dbmfMementoList {
font-size: 90%;
}

#dbmfMementoList table {
margin: 0px;
}

#dbmfMementoList tr {
background-color: transparent;
}

#dbmfMementoList td.infos {
width: 240px;
}
#dbmfMementoList div.floatingcell{
float: left;
}
#dbmfMementoList div.date{
width: 110px;
}
#dbmfMementoList div.name{
text-align: left;
font-size: 90%;
width: 120px;
}

#dbmfMementoList td.comments{
vertical-align: top;
text-align: left;
font-size: 90%;
}

#dbmfMementoList p.rteditor {
padding: 2px 3px;
}

#dbmfMementoList td.actions{
width: 80px;
}

div#dbmfMemento {
}

#overlay div.contentWrap #dbmfMemento div.overHead {
    height: 36px;
    font-size: 110%;
    padding: 3px 5px 0px;
}
#overlay div.contentWrap #dbmfMemento div.overBody {
    top: 39px;
    bottom: 27px;
}
#overlay div.contentWrap #dbmfMemento div.overFoot {
    height: 23px;
    padding: 4px 5px 0px;
}

#dbmfMemento table.cform {
    width: 100%;
}
#dbmfMemento td {
    vertical-align: top;
}

table.cform {
    border-collapse: collapse;
}
